.rotateimage {
	margin-top: 5em;
  -webkit-transform:rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}  

#myProgress {
  width: 100%;
  background-color: #ddd;
}

.myBar {
  width: 0%;
  height: 30px;
  background-color: #304ffe;
  text-align: center;
  line-height: 30px;
  color: white;
}

.social-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #232323;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,.13);
    margin: 0 4px;
    text-align: center;
}

.card-action a {
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	outline: none !important;
	color: #3f51b5;
}

.card-action a i {
	color: #3f51b5;;
}

.card-action a:hover i{
	color: white;
}

.card-action a:hover
{
	background: #3f51b5;
}

#tabs-swipe-demo a {
	color: indigo;
}

#tabs-swipe-demo .indicator {
	background: black;
}

 /* Style the tab */
div.tab {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
    float: left;
    height: 100%;
    width: 30%;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 320px;
} 

.frontpiccover {
   overflow-x: hidden; 
   padding: 0;
   height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

/* Safari and Chrome */
.mylogo {
  margin-left: 1.3em;
}

/* Safari and Chrome */
.frontpiccover {
  overflow: hidden;
}

}